/* Add your CSS here */

/* Style for the header SVG logo */
header svg {
  /* Set the width to make the logo smaller */
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  display: block;
  margin-bottom: 16px; /* Add space below the logo */
}

/* Make images responsive so they scale with the screen size */
.responsive-img {
  max-width: 20rem; /* Image will not be wider than its container */
  height: auto;    /* Image height adjusts automatically */
  display: block;  /* Removes extra space below the image */
  margin: 0 auto;  /* Centers the image horizontally */
}
